# Python cache & environment
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data & dataset (jangan upload data asli ke GitHub)
data/
data/*
datasets/
datasets/*
features/
*.csv
models/
models/*

# Jangan ignore folder app dan file .py
!klasifikasi_penyakit_daunnn/app/
!klasifikasi_penyakit_daunnn/app/*.py

# Output
outputs/
outputs/*
*.joblib

# Model dan file besar
*.pkl
*.h5
*.pt
*.sav
*.zip
*.rar
*.7z

# Jangan ignore file utama aplikasi di root
!streamlit_app.py

# OS & editor
.DS_Store
Thumbs.db
.vscode/
.idea/
